/* App.css */

:root {
  --primary-color: #1f2937;
  --secondary-color: #111827;
  --background-color: #374151;
  --text-color: #f9fafb;
   --button-hover-color: #25eba991; /*--button-hover-color: #2563eb; */
  
}

body {
  font-family: 'Poppins Regular', Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.video-upload-container {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-control-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(50% - 20px);
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--text-color);
}

input[type="file"],
select,
input[type="number"] {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
}

input[type="file"]::file-selector-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--button-hover-color);
}

button.btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
}

button.btn:hover {
  background-color: var(--button-hover-color);
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

video {
  height: auto;
  max-height: 500px;
}

.videodiv {
  padding: 10px;
  border: 2px solid #282860;
  border-radius: 10px;
}

.align-center {
  text-align: center;
}

.app-header {
  background-color: var(--primary-color) !important;
}

.video-ctrl-btn {
  width: 20%;
  margin-left: 1rem;
}

.video-card-head {
  display: flex;
  justify-content: space-between;
}
